html {
  scroll-behavior: smooth;
}
/* Mobile View (less than 600px) */
/* Tablet View - between 600px and 1000px */
/* Desktop View (greater than 1000px) */
body {
  background-color: transparent;
  color: #00274C;
  font-family: sans-serif, serif, 'Times New Roman';
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: lightblue;
  justify-content: center;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
}

div.gallery {
  padding-bottom: 10px;
}
.nav_links {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.companies div a:hover {
  border: none ;
}
#main a {
  color: inherit;
  font-weight: bold;
}
a:hover {
  color: lightblue;
  border: 3px solid lightblue;
}
#main a:visited {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}
.skip a {
  background: white;
  left: 0;
  padding: 6px;
  z-index: 1;
  position: absolute;
  top: -40px;
}
.skip a:focus {
  top: 20px;
  background: white;
  color: #00274C;
  ;
}
:focus {
  border: 2px solid;
}
nav li {
  display: inline;
  padding: 5px;
  font-size: 18px;
  justify-content: right;
}
nav a {
  color: #00274C;
  font-weight: bold;
  text-decoration: none;
  padding:10px;
}

.nav_links a:hover {
  color: #00274C;
  border: 2px solid #00274C;
}
.active_page a {
  font-weight: bold;
  color: #00274C;
  text-decoration: underline;
}
footer {
  color: #00274C;
  background-color: white;
}
footer div {
  text-align: center;
  font-size: 18px;
  padding: 15px;
  font-weight: bold;
}
p, li{
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 17px;
  line-height: 1.3;
}


h1{
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;
  font-size: 22px;
  font-weight: bold;
  padding-top: 20px;
  color: #00274C;
}
h2{
  padding: 15px;
  font-size: 22px;
  font-weight: bold;
  color: #00274C;
  text-align: center;
}
#expers{
  text-align: center;
}

h3{
  padding-left: 15px;
  font-size: 18px;
  color: #00274C;
  line-height: 1.3;
  text-align: center;
}

div.bio, .moonshot p{
  /* padding: 15px; */
  color: #00274C;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.moonshot p{
  font-size: 20px;
}

div.bio img{
  width: 200px;
  padding:10px;
}
div.companies{
  width:auto;
  align-self: center;
}

.companies{
  /* padding: 20px; */
  /* display:grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 2fr 2fr; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  flex-wrap: wrap;
}

.companies img{
  width: 350px;
}
.companies img:hover{
  border: 5px solid lightblue;
  border-radius: 25px;
}
.companies div{
  padding: 15px;
}
.company_info{
  display:grid;
  grid-template-rows: 1fr 1fr;
  justify-content: space-around;
  justify-items: center;
}
.company_info div:first-child {
  grid-row-start: 1;
  grid-row-end: 2;
}
.compacompany_info div:nth-child(2) {
  grid-row-start: 2;
  grid-row-end: 3;
}

.company_info div{
  background-color: white;
}

div.need {
  background-color: white;
}

.need h2{
  color: lightblue;
  background-color: #00274C;
  font-size: 22px;
  font-weight: 400;
  margin-right: 0px;
  margin-left: 0px;
}

div.need p{
  background-color: white;
  padding-bottom: 15px;
}

div.link{
  text-align: center;
  font-size: 18px;
  padding-bottom: 15px;
}
div.pillar{
  text-align: center;
  font-size: 18px;
}


.company_info h2{
color: lightblue;
background-color: #00274C;
font-size: 18px;
font-weight: 400;
margin-right: 0px;
margin-left: 0px;
}
div.need h2{
  color: lightblue;
  background-color: #00274C;
  font-size: 18px;
  font-weight: 400;
  }
   h2#expers{
    font-size: 22px;
  }



.company_info div p, div.need p{
  font-size: 16px;
padding:15px;
  background-color: white;
  margin-left: 15px;
  margin-right: 15px;
}

.meet{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  flex-wrap: nowrap;
  padding-left:15px;
  padding-right:15px;
  padding-bottom:15px;
}

.meet p{
  font-size: 18px;
  margin: auto;
  padding-top: 0px;
  padding-left: 50px;
  padding-right: 50px;
}



h2:nth-child(4){
text-align: left;
color: #00274C;
border-radius: 25px;
font-size: 22px;
padding-left: 30px;
}

.buildclinical h3, .mili h3, .vivorcare h3{
  text-align: left;
  border-radius: 25px;
  font-size: 18px;
  padding-left:60px;
  padding-bottom: 5px;
  font-size: 22px;
  font-weight: bold;
  color: #00274C;
  padding-top: 15px;
}

div.experiences button{
font-size: 22px;
width: 100%;
}
.collapsible {
  color: #00274C;
  background-color: lightblue;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: 8px solid white;
  border-radius: 25px;
  text-align: left;
  outline: none;
  font-size: 18px;
  font-weight: bold;
}
button.collapsible{
  padding:15px;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: lightblue;
}
/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  font-size: 18px;

}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.flip-card {
  background-color: transparent;
  width: 290px;
  height: 200px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position:absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}



/* Style the back side */
.flip-card-back {
  background-color: lightblue;
  height: 260px;
  width: 300px;
  color: #00274C;
  transform: rotateY(180deg);
  border: #00274C 3px solid;
  border-radius: 25px;
}


.all{
  /* padding-top: 15px; */
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
  justify-content: center;
}
.flip-card{
 margin-top: 60px;
  margin-bottom: 10px;
}

@media screen and (min-width: 600px) {
  .company_info h2{
    color: lightblue;
    background-color: #00274C;
    font-size: 22px;
    font-weight: 400;
    margin-right: 0px;
    margin-left: 0px;
    }
    .company_info{
      padding: 20px;
      padding-bottom: 5px;;
      display:grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      justify-content: space-around;
      justify-items: center;
    }
    .company_info div:first-child {
      grid-column-start: 1;
      grid-column-end: 2;
    }
    .compacompany_info div:nth-child(2) {
      grid-column-start: 2;
      grid-column-end: 3;
    }
    div.need {
      border-bottom: 3px solid #00274C;
      border-left: 3px solid #00274C;
      border-right: 3px solid #00274C;
      margin-left: 25%;
      margin-right: 25%;
      background-color: white;
      padding-bottom: 15px;
    }
    .company_info div{
      border-bottom: 3px solid #00274C;
      border-left: 3px solid #00274C;
      border-right: 3px solid #00274C;
      margin-left: 15px;
      margin-right: 15px;
      background-color: white;
      padding-bottom: 15px;;
    }
    div.need h2{
      color: lightblue;
      background-color: #00274C;
      font-size: 22px;
      font-weight: 400;
      }
       h2#expers{
        font-size: 22px;
      }

}

@media screen and (min-width: 930px) {
  .meet{
    flex-direction: row-reverse;
    align-items: flex-start;
  }
  .buildclinical h3, .mili h3, .vivorcare h3{
    text-align: left;
    padding-bottom: 30px;
  }

  .meet p {
    font-size: 20px;
  }
}
